body{
    background-color: aliceblue;
    font-family: monospace ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.card {
    background-color: rgb(245, 251, 180);
    width: 300px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;

}
.foto-profil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(238, 35, 177);
}
.Nama{
    color :rgb(255, 108, 191);
    margin : 15px 0 5px 0;
}

.State{
    color: rgb(247, 128, 148);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.bio{
    color: rgba(63, 59, 50, 0.6);
    font-size: 14px;
    line-height: 1.5;
}
.Contact{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: palevioletred;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
}
